/*********************font family***********************/
@font-face{
  font-family: 'OpenSans-Regular';
  src: url('../fonts/OpenSans-Regular.ttf');
}

/*********************common css***********************/
body{
  font-family: 'OpenSans-Regular'!important;
}
p{
  font-size: 14px;
  line-height: 25px;
}
a{
  font-size: 14px;
}
h5{
  font-weight: bold!important;
  padding-bottom: 5px;
}
img{
  width: 100%
}
button{
  background-color: black;
  color: white;
  padding: 15px 50px;
  border-radius: 25px!important;
  font-weight: bold;
  font-size: 14px!important;
  border: none;
  letter-spacing: 1px;
  transition: .5s all;
}
button:hover{
  padding: 15px 55px;
  letter-spacing: 2px;
}
button:focus{
  outline: none!important;
}
.sub_heading h6{
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1px;
  color: #ff8f00;
  padding-bottom: 10px;
}
.heading h2{
  text-align: center;
  font-weight: bold;
}
.heading_title h4{
  text-align: center;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 1px;
}

/*********************header css***********************/
header{
  padding: 10px 0px;
}
header .navbar{
  padding: 0;
}
header .navbar button{
  background-image: linear-gradient(150deg,#fb8d14 0%,#000 100%)!important;
  color: white;
}
header .navbar button:hover{
  padding: 4px 12px!important;
}
header .navbar button i{
  font-size: 22px;
  padding: 5px;
  color: white;
}
header .navbar button:focus{
  outline: none;
}
header .navbar .rahul img{
  width: 170px;
}
header .navbar .collapse ul li{
  margin-left: 20px;
}
header .navbar .collapse ul li a{
  color: #414141!important;
  font-weight: bold;
}
header .navbar .collapse ul li a:hover{
  color: #656565!important;
}
header .navbar .collapse ul li button{
  background-image: linear-gradient(150deg,#fb8d14 0%,#000 100%)!important;
  color: white;
  font-size: 16px!important;
  font-weight: bold;
  border-radius: 20px;
  padding: 10px 25px!important;
  border: none;
}
header .navbar .collapse ul li button:hover{
  padding: 8px 25px;
  color: #e5e3e3;
  letter-spacing: 1px;
}

/*********************banner css***********************/
.banner{
  background: url(../images/banner_bg.png);
  height: 77vh;
  background-size: cover;
}
.banner .col1 .welcome_content{
  padding-top: 40px;
}
.banner .col1 .welcome_content h1{
  color: white;
  font-weight: bold;
}
.banner .col1 .welcome_content p{
  color: white;
  line-height: 30px;
  font-size: 16px;
}

/**************************features css*********************/
.features{
  padding: 70px 0px;
}
.features .col1{
  padding-top: 40px;
}

/**************************software solutions css*********************/
.software_solutions{
  padding: 70px 0px;
  background-color: #f7f7f7;
}

/*****************************quote css**************************/
.quote{
  padding: 70px 0px;
  background-image: linear-gradient(150deg,#ffba61 0%,#ffe970 100%);
}

/*****************************back office css**************************/
.back_office{
  padding: 70px 0px;
}
.back_office .col1{
  padding-top: 40px;
}
.back_office .col1 .content{
  padding-bottom: 20px;
}

/*****************************platform css**************************/
.platform{
  padding: 150px 0px 100px 0px;
  background: url('../images/platform_bg.png');
  background-size: 100% 100%;
}
.platform .col1{
  text-align: center;
  padding-top: 40px;
}
.platform .col1 img{
  width: 100px;
  padding-bottom: 30px;
}

/*****************************why choose css**************************/
.why_choose{
  padding: 70px 0px;
}
.why_choose .col1{
  padding-top: 40px;
}
.why_choose .col2{
  padding-top: 40px;
}
.why_choose .col2 ul{
  background-image: linear-gradient(150deg,#ffba61 0%,#ffe970 100%);
  padding: 45px 60px;
  border-radius: 15px;
}
.why_choose .col2 ul li{
  font-size: 14px;
  line-height: 35px;
  font-weight: bold;
}

/*****************************faq css**************************/
.faq{
  padding: 70px 0px;
  background-color: #f7f7f7;
}
.faq .col1{
  padding-top: 40px;
}
.faq .card{
  border: none;
  border-bottom: 1px solid #d0d0d0!important;
  margin: 0px 10px;
}
.faq .card .card-header{
  padding: 20px 0px;
  border-bottom: none;
}
.faq .card .card-header button{
  padding: 0;
  color: #515151;
  text-decoration: none;
  text-align: left;
  font-weight: bold;
  width: 95%;
  font-size: 15px!important;
}
.faq .card .card-header button:hover{
  letter-spacing: 1px;
}
.faq .card .card-header button i{
  float: right;
  background-color: #a3a3a3;
  color: white;
  padding: 5px;
  border-radius: 50%;
  font-size: 10px;
  margin-top: 1px;
  margin-right: -5%;
}
.faq .card .card-body{
  padding: 10px;
}
.faq .card .card-body p{
  margin-bottom: 0;
  padding: 0px;
}
.faq .col2{
  padding-top: 40px;
}

/*****************************satisfication css**************************/
.satisfication{
  padding: 70px 0px;
}
.satisfication .col1{
  padding-top: 40px;
  text-align: center;
}
.satisfication .col1 h3{
  color: white;
  font-size: 24px;
  font-weight: bold;
  height: 150px;
  padding-top: 55px;
  padding-left: 30px;
  border-radius: 20px;
}
.satisfication .col1 .box_color_first{
  background-image: linear-gradient(237deg,#46b3ff 0%,#0752fe 100%);
}
.satisfication .col1 .box_color_second{
  background-image: linear-gradient(150deg,#ffba61 0%,#ffdc71 100%);
}

/*****************************contact us css**************************/
.contact_us{
  background-image: url('../images/contact_bg.jpg');
  background-size: cover;
}
.contact_us .overlay{
  background-color: #000000cc;
  padding: 70px 0px;
}
.contact_us .row1{
  padding-top: 20px;
}
.contact_us .row1 .contact_column{
  padding-top: 30px;
}
.contact_us .row1 .col1 i{
  background-color: white;
  color: #292929;
  font-size: 42px;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  padding-top: 20px;
  text-align: center;
  border: 5px solid #dfdfdf;
}
.contact_us .row1 .col2{
  color: white;
}
.contact_us .row1 .col2 a{
  color: #fcd10a;
  text-decoration: none;
}
.contact_us .row1 .col2 i{
  width: 40px;
  height: 40px;
  font-size: 22px;
  text-align: center;
  padding: 9px;
  border-radius: 50%;
  margin-right: 10px;
  color: white;
  margin-top: 15px;
}


/*********************footer section***************************/
footer{
  background-color: black;
}
footer p{
  color: white;
  padding: 15px;
  margin: 0;
  text-align: center;
}
footer span img{
  width: 100px;
  height: 25px;
  margin-left: 15px;
}
footer .icon_fixed {
  position: fixed;
  bottom: 5%;
  right: 1%;
  display: grid;
  z-index: 999;
}
footer .icon_fixed .whatsapp_fixed {
  font-size: 40px;
  color: #fff;
  background-color: #57BB63;
  width: 60px;
  height: 60px;
  text-align: center;
  padding-top: 10px;
  border-radius: 50%;
  margin-bottom: 45px;
}
/*footer .icon_fixed .chat_fixed {
  font-size: 34px;
  color: #fff;
  background-color: #06C;
  width: 60px;
  height: 60px;
  text-align: center;
  padding-top: 15px;
  border-radius: 50%
}*/

/*********************thank you page***************************/
.thank_you{
  background: url(../images/banner_bg.png);
  height: 80vh;
  background-size: cover;
  position: relative;
}
.thank_you img{
  padding: 50px 0px;
  height: 80vh;
}
.thank_you .overlay{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 70%;
}
.thank_you .overlay i{
  font-size: 60px;
  color: #7c0018;
  padding-bottom: 25px;
}


/****************************modal css************************/
.modal .modal-content {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.modal .model_header{
  background-color: #202020;
  padding: 20px 20px 10px 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-top: 2px solid #fcd10a;
  position: relative;
}
.modal .model_header .cross{
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: #fcd10a;
  cursor: pointer;
}
.modal .model_header h3{
  color: white;
  text-align: center;
  font-weight: bold;
}
.modal .model_header h6{
  color: white;
  line-height: 22px;
  text-align: center;
}
.modal .model_body{
  padding: 20px 40px;
}
.modal .model_body .col1{
  margin-bottom: 10px;
}
.modal .model_body .col1 .form_label{
  font-size: 14px;
  font-weight: bold;
}
.modal .model_body .col1 .form_input{
  border: 2px solid #fcd10a;
  border-radius: 30px;
  padding: 6px;
  font-size: 14px;
  width: 100%;
}
.modal .model_body .col1 .form_input:focus{
  outline: none;  
}
.modal .model_body .col1 .btn_outer .btn_btn{
  width: 100%;
  padding: 10px;
  border-radius: 30px;
  background-color: #fcd10a;
  border: 2px solid black;
  font-weight: bold;
  margin-top: 10px;
}
.modal .model_body .col1 .btn_outer .btn_btn:focus{
  outline: none;
}



@media screen and (max-width: 767px){
  .heading h2 {
    font-size: 24px;
  }
  h5{
    font-size: 18px!important;
  }
  .banner{
    height: 90vh;
  }
  .banner .col1 .welcome_content h1{
    font-size: 26px;
  }
  .banner .col1 .welcome_content p{
    font-size: 14px;
  }
  .features {
    padding: 40px 0px;
  }
  .features .col1 {
    padding-top: 20px;
  }
  .software_solutions {
    padding: 40px 0px;
  }
  .software_solutions .col2{
    padding-top: 20px;
  }
  .quote{
    padding: 40px 0px;
  }
  .back_office {
    padding: 40px 0px 0px 0px;
  }
  .back_office .col1 {
    padding-top: 20px;
  }
  .back_office .col1 .content {
    padding-bottom: 10px;
  }
  .platform {
    padding: 135px 0px 130px 0px;
    background-size: cover;
  }
  .platform .col1 {
    padding-top: 20px;
  }
  .platform .col1 img {
    padding-bottom: 10px;
  }
  .why_choose {
    padding: 0px 0px 40px 0px;
  }
  .why_choose .col1 {
    padding-top: 20px;
  }
  .why_choose .col2 {
    padding-top: 20px;
  }
  .why_choose .col2 ul {
    padding: 20px 40px;
  }
  .why_choose .col2 ul li {
    line-height: 25px;
  }
  .faq {
    padding: 40px 0px;
  }
  .faq .col1 {
    padding-top: 20px;
  }
  .faq .col2{
    padding-top: 0px;
  }
  .satisfication {
    padding: 40px 0px;
  }
  .satisfication .col1 {
    padding-top: 20px;
  }
  .contact_us .overlay{
    padding: 40px 0px;
  }
  footer{
    margin-bottom: 60px;
  }
  footer .icon_fixed {
    bottom: 0;
    right: unset;
    display: unset;
    background-color: #000000bf;
    width: 100%;
    padding: 5px 15px;
  }
  footer .icon_fixed .whatsapp_fixed {
    font-size: 30px;
    width: 50px;
    height: 50px;
    margin-bottom: 0;
  }
  footer .icon_fixed .chat_fixed {
    font-size: 30px;
    width: 50px;
    height: 50px;
    padding-top: 10px;
    float: right;
  }
  .siq_bR {
    bottom: 5px!important;
  }
  .zsiq_theme1 .zsiq_flt_rel{
    padding: 0px!important;
    width: 50px!important;
    height: 50px!important;
  }
}

@media screen and (max-width: 991px){
  header .navbar .collapse ul li {
    margin-left: 0px;
  }
  .banner .col1 .welcome_content{
    padding-top: 40px;
  }
  .banner .col2{
    display: none;
  }
  
.container {
  max-width: 100% !important;
  padding: 0 20px;
}

}

@media screen and (min-width: 768px) and (max-width: 991px){
  .banner .col1 .welcome_content{
    padding-top: 80px;
  }
  .contact_us .row1 .col1 i{
    font-size: 30px;
    width: 70px;
    height: 70px;
    padding-top: 18px;
    border: 3px solid #dfdfdf;
  }
}

@media screen and (min-width: 1200px){
  .banner .col1 .welcome_content{
    padding-top: 60px;
  }
}

@media (max-width: 768px) {
  .banner .col2 img {
  transform: rotate(180deg);
  margin-bottom: -2px;
  margin-top: 30px;
}
.banner .col2 {
  display: block;
}
.banner {
  height: auto;
}

}

