/*********************font family***********************/
@font-face{
  font-family: 'OpenSans-Regular';
  font-style: normal;
  src: url('../fonts/OpenSans-Regular.ttf');
  font-display: swap;
}

/*********************common css***********************/
body{
  font-family: 'OpenSans-Regular'!important;
}
p{
  font-size: 14px;
  line-height: 25px;
}
a{
  font-size: 14px;
}
h5{
  font-weight: bold!important;
  padding-bottom: 5px;
}
img{
  width: 100%
}
button{
  background-color: white;
  padding: 15px 50px;
  border-radius: 25px!important;
  font-weight: bold;
  font-size: 14px!important;
  border: none;
  letter-spacing: 1px;
  transition: .5s all;
}

button:focus{
  outline: none!important;
}
.sub_heading h6{
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1px;
  color: #ff8f00;
  padding-bottom: 10px;
}
.heading h2{
  text-align: center;
  font-weight: bold;
}
.heading_title h4{
  text-align: center;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 1px;
}

/*********************header css***********************/
header{
  padding: 10px 0px;
}
header .navbar{
  padding: 0;
}
header .navbar button{
  background-image: linear-gradient(150deg,#B2001A 0%,#000 100%)!important;
  color: white;
}

header .navbar .rahul img{
  width: 100px !important;
}
header .navbar .collapse ul li{
  margin-left: 20px;
}
header .navbar .collapse ul li a{
  color: #414141!important;
  font-weight: bold;
}
header .navbar .collapse ul li a:hover{
  color: #656565!important;
}
header .navbar .collapse ul li button{
  background-image: linear-gradient(150deg,#B2001A 0%,#000 100%);
  color: white;
  font-size: 16px!important;
  font-weight: bold;
  border-radius: 20px;
  padding: 10px 25px!important;
  border: none;
}
header .navbar .collapse ul li button:hover{
  padding: 10px 25px;
  color: #e5e3e3;
  letter-spacing: 1px;
}

/*********************banner css***********************/
.banner{
  background: url(../images/banner_bg.avif);
  height: 77vh;
  background-size: cover;
}
.banner .col1 .welcome_content{
  padding-top: 40px;
}
.banner .col1 .welcome_content h1{
  color: white;
  font-weight: bold;
}
.banner .col1 .welcome_content p{
  color: white;
  line-height: 30px;
  font-size: 16px;
}

/**************************features css*********************/
.features{
  padding: 70px 0px;
}
.features .col1{
  padding-top: 40px;
}

/**************************software solutions css*********************/
.software_solutions{
  padding: 70px 0px;
  background-color: #f7f7f7;
}

/*****************************quote css**************************/
.quote{
  padding: 70px 0px;
  background-image: linear-gradient(150deg,#B2001A 0%,#000 100%);
}

/*****************************back office css**************************/
.back_office{
  padding: 70px 0px;
}
.back_office .col1{
  padding-top: 40px;
}
.back_office .col1 .content{
  padding-bottom: 20px;
}

/*****************************platform css**************************/
.platform{
  padding: 150px 0px 100px 0px;
  background: url('../images/platform_bg.png');
  background-size: 100% 100%;
}
.platform .col1{
  text-align: center;
  padding-top: 40px;
}
.platform .col1 img{
  width: 100px;
  padding-bottom: 0px;
}

/*****************************why choose css**************************/
.why_choose{
  padding: 70px 0px;
}
.why_choose .col1{
  padding-top: 40px;
}
.why_choose .col2{
  padding-top: 40px;
}
.why_choose .col2 ul{
  background-image: linear-gradient(150deg,#B2001A 0%,#000 100%);
  padding: 45px 60px;
  border-radius: 15px;
  color: white;
}
.why_choose .col2 ul li{
  font-size: 14px;
  line-height: 35px;
  font-weight: bold;
}

/*****************************faq css**************************/
.faq{
  padding: 70px 0px;
  background-color: #f7f7f7;
}
.faq .col1{
  padding-top: 40px;
}
.faq .card{
  border: none;
  border-bottom: 1px solid #d0d0d0!important;
  margin: 0px 10px;
}
.faq .card .card-header{
  padding: 20px 0px;
  border-bottom: none;
}
.faq .card .card-header button{
  padding: 0;
  color: #515151;
  text-decoration: none;
  text-align: left;
  font-weight: bold;
  width: 95%;
  font-size: 15px!important;
}
.faq .card .card-header button:hover{
  letter-spacing: 1px;
}
.faq .card .card-header button i{
  float: right;
  background-color: #a3a3a3;
  color: white;
  padding: 5px;
  border-radius: 50%;
  font-size: 10px;
  margin-top: 1px;
  margin-right: -5%;
}
.faq .card .card-body{
  padding: 10px;
}
.faq .card .card-body p{
  margin-bottom: 0;
  padding: 0px;
}
.faq .col2{
  padding-top: 40px;
}

/*****************************satisfication css**************************/
.satisfication{
  padding: 70px 0px;
}
.satisfication .col1{
  padding-top: 40px;
  text-align: center;
}
.satisfication .col1 h3{
  color: white;
  font-size: 24px;
  font-weight: bold;
  height: 150px;
  padding-top: 55px;
  padding-left: 30px;
  border-radius: 20px;
}
.satisfication .col1 .box_color_first{
  background-image: linear-gradient(237deg,#46b3ff 0%,#0752fe 100%);
}
.satisfication .col1 .box_color_second{
  background-image: linear-gradient(150deg,#ffba61 0%,#ffdc71 100%);
}

/*****************************contact us css**************************/
.contact_us{
  background-image: url('../images/contact_bg.jpg');
  background-size: cover;
}
.contact_us .overlay{
  background-color: #000000cc;
  padding: 70px 0px;
}
.contact_us .row1{
  padding-top: 20px;
}
.contact_us .row1 .contact_column{
  padding-top: 30px;
}
.contact_us .row1 .col1 i{
  background-color: white;
  color: #292929;
  font-size: 42px;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  padding-top: 20px;
  text-align: center;
  border: 5px solid #dfdfdf;
}
.contact_us .row1 .col2{
  color: white;
}
.contact_us .row1 .col2 a{
  color: #fcd10a;
  text-decoration: none;
}
.contact_us .row1 .col2 i{
  width: 40px;
  height: 40px;
  font-size: 22px;
  text-align: center;
  padding: 9px;
  border-radius: 50%;
  margin-right: 10px;
  color: white;
  margin-top: 15px;
}

/*********************footer section***************************/
footer{
  background-color: black;
}
footer p{
  color: white;
  padding: 15px;
  margin: 0;
  text-align: center;
}
footer span img{
  width: 100px;
  height: 25px;
  margin-left: 15px;
}
footer .icon_fixed {
  position: fixed;
  bottom: 5%;
  right: 1%;
  display: grid;
  z-index: 999;
}
footer .icon_fixed .whatsapp_fixed {
  font-size: 40px;
  color: #fff;
  background-color: #57BB63;
  width: 60px;
  height: 60px;
  text-align: center;
  padding-top: 10px;
  border-radius: 50%;
  margin-bottom: 45px;
}
/*footer .icon_fixed .chat_fixed {
  font-size: 34px;
  color: #fff;
  background-color: #06C;
  width: 60px;
  height: 60px;
  text-align: center;
  padding-top: 15px;
  border-radius: 50%
}*/

/*********************thank you page***************************/
.thank_you{
  background: url(../images/banner_bg.png);
  height: 80vh;
  background-size: cover;
  position: relative;
}
.thank_you img{
  padding: 50px 0px;
  height: 80vh;
}
.thank_you .overlay{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 70%;
}
.thank_you .overlay i{
  font-size: 60px;
  color: #ac2227;
  padding-bottom: 25px;
}

/****************************modal css************************/
.modal .modal-content {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.modal .model_header{
  background-color: #9b1e23;
padding: 20px 20px 10px 20px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
border-top: 2px solid #040402;
position: relative;
}
.modal .model_header .cross{
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: #fcd10a;
  cursor: pointer;
}
.modal .model_header h3{
  color: white;
  text-align: center;
  font-weight: bold;
}
.modal .model_header h6{
  color: white;
  line-height: 22px;
  text-align: center;
}
.modal .model_body{
  padding: 20px 40px;
}
.modal .model_body .col1{
  margin-bottom: 10px;
}
.modal .model_body .col1 .form_label{
  font-size: 14px;
  font-weight: bold;
}
.modal .model_body .col1 .form_input{
  border: 2px solid #fff;
  border-radius: 30px;
  padding: 6px;
  font-size: 14px;
  width: 100%;
  background-color: transparent;
}
.modal .model_body .col1 .btn_outer .btn_btn#formsubmit {
  width: 100%;
  padding: 10px;
  border-radius: 30px;
  background-color: #a92126;
  border: 2px solid #a92126;
  font-weight: bold;
  margin-top: 10px;
  color: #fff !important;
}
.modal .model_body .col1 .form_input:focus{
  outline: none;  
}
.modal .model_body .col1 .btn_outer .btn_btn{
  width: 100%;
  padding: 10px;
  border-radius: 30px;
  background-color: #fcd10a;
  border: 2px solid black;
  font-weight: bold;
  margin-top: 10px;
}
.modal .model_body .col1 .btn_outer .btn_btn:focus{
  outline: none;
}
.modal .model_body {
  background: #f7f7f7;
}

@media screen and (max-width: 767px){
  .heading h2 {
    font-size: 24px;
  }
  h5{
    font-size: 18px!important;
  }
  .banner{
    height: 90vh;
  }
  .banner .col1 .welcome_content h1{
    font-size: 26px;
  }
  .banner .col1 .welcome_content p{
    font-size: 14px;
  }
  .features {
    padding: 40px 0px;
  }
  .features .col1 {
    padding-top: 20px;
  }
  .software_solutions {
    padding: 40px 0px;
  }
  .software_solutions .col2{
    padding-top: 20px;
  }
  .quote{
    padding: 40px 0px;
  }
  .back_office {
    padding: 40px 0px 0px 0px;
  }
  .back_office .col1 {
    padding-top: 20px;
  }
  .back_office .col1 .content {
    padding-bottom: 10px;
  }
  .platform {
    padding: 150px 0px 200px 0px;
    background-size: cover;
  }
  .platform .col1 {
    padding-top: 20px;
  }
  .platform .col1 img {
    padding-bottom: 10px;
  }
  .why_choose {
    padding: 0px 0px 40px 0px;
  }
  .why_choose .col1 {
    padding-top: 20px;
  }
  .why_choose .col2 {
    padding-top: 20px;
  }
  .why_choose .col2 ul {
    padding: 20px 40px;
  }
  .why_choose .col2 ul li {
    line-height: 25px;
  }
  .faq {
    padding: 40px 0px;
  }
  .faq .col1 {
    padding-top: 20px;
  }
  .faq .col2{
    padding-top: 0px;
  }
  .satisfication {
    padding: 40px 0px;
  }
  .satisfication .col1 {
    padding-top: 20px;
  }
  .contact_us .overlay{
    padding: 40px 0px;
  }

  footer{
    margin-bottom: 60px;
  }
  footer .icon_fixed {
    bottom: 0;
    right: unset;
    display: unset;
    background-color: #000000bf;
    width: 100%;
    padding: 5px 15px;
  }
  footer .icon_fixed .whatsapp_fixed {
    font-size: 30px;
    width: 50px;
    height: 50px;
    margin-bottom: 0;
  }
  footer .icon_fixed .chat_fixed {
    font-size: 30px;
    width: 50px;
    height: 50px;
    padding-top: 10px;
    float: right;
  }
  .siq_bR {
    bottom: 5px!important;
  }
  .zsiq_theme1 .zsiq_flt_rel{
    padding: 0px!important;
    width: 50px!important;
    height: 50px!important;
  }
}

@media screen and (max-width: 991px){
  header .navbar .collapse ul li {
    margin-left: 0px;
  }
  .banner .col1 .welcome_content{
    padding-top: 40px;
  }
  .banner .col2{
    display: none;
  }
  .container {
  width: 100%;
  max-width: 100% !important;
  padding: 0 20px !important;
}
}

@media screen and (min-width: 768px) and (max-width: 991px){
  .banner .col1 .welcome_content{
    padding-top: 80px;
  }
  .contact_us .row1 .col1 i{
    font-size: 30px;
    width: 70px;
    height: 70px;
    padding-top: 18px;
    border: 3px solid #dfdfdf;
  }
}

@media screen and (min-width: 1200px){
  .banner .col1 .welcome_content{
    padding-top: 60px;
  }
}

@media (max-width: 768px) {
  .banner {
  height: auto;
  padding: 40px 0 !important;
}
}

.sticky-top {
  position: fixed !important;
  background-color: transparent !important;
  width: 100%;
}
.sticky-top .navbar .collapse ul li a {
  color: #fff !important;
  font-size: 16px;
letter-spacing: 1px;
}
.banner {
  height: auto;
  padding-top: 120px;
}
.banner .popup_btn {
  border: 1px solid #fff;
  color: #fff;
  text-transform: uppercase;
  transition: all .4s linear;
  padding: 15px 50px !important;
  letter-spacing: 1px !important;
}
.banner .popup_btn:hover {
  background-color: #fff !important;
  color: #000;
}
.banner p {
  margin-bottom: 40px;
}
.banner {
  padding-bottom: 30px;
}
.sticky-top .navbar .collapse ul li button {
  background: #aa0019 !important;
  color: #fff !important;
}

.sticky-top {
  position: fixed !important;
  background: rgba(4, 4, 4, 0.6) !important;
  width: 100%;
}
.stickyadd {
  background: rgba(4, 4, 4, 0.6) !important;
  box-shadow: 0 -5px 10px 0px #000;
}
/*.sticky-top.stickyadd .navbar .collapse ul li a {
  color: #000 !important;
}*/
/*.sticky-top.stickyadd .navbar .collapse ul li button {
  background-image: linear-gradient(150deg,#B2001A 0%,#000 100%) !important;
  color: #fff !important;
}*/
.content-why h2 {
  color: #fff;
  font-size: calc((100vw - 320px)/(1920 - 320) * (24 - 17) + 17px);
  font-weight: 400;
  margin-bottom: 15px;
  position: relative;
  z-index: 9;
}
.content-why p {
  font-size: calc((100vw - 320px)/(1920 - 320) * (16 - 13) + 13px);
  color: #fff;
  font-weight: 400;
  margin: 0;
  position: relative;
  z-index: 9;
}
.content-why {
  position: relative;
  min-height: 110px;
  padding-left: 35px;
  margin-bottom: 75px;
}
.content-why::before {
  content: '';
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #9e2025;
  display: block;
  transition: all 0.3s ease-in-out;
  position: absolute;
  left: 2px;
  top: -25px;
  z-index: 1;
  transition: all .4s linear;
  opacity: 0.6;
}
.content-why:hover::before {
  transform: scale(1.3);
  opacity: 1;
}
.img-video {
  position: relative;
  text-align: center;
background: radial-gradient(circle at 50%, #661316 66%, transparent 50%);

}
.img-video img {
  max-height: 510px;
}
.img-video .phone-video {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 180px;
  top: 18px;
  border-radius: 20px;
  z-index: 1;
}
.img-video img {
  width: 206px;
  height: calc(2013 / 1056 * 206px);
  margin: 0px auto;
  display: block;
  position: relative;
  z-index: 11;
}
.banner.banner-home {
  padding-bottom: 150px;
}
.banner .popup_btn svg {
  width: 24px;
  margin-top: -2px;
  margin-left: -5px;
}

@media (max-width: 768px) {
  .img-video {
  background: radial-gradient(circle at 50%, #661316 66%, transparent 50%);
}
.img-video {
  width: 365px;
  margin: 0px auto;
    margin-bottom: 0px;
  margin-bottom: 40px;
}
.img-video {
  margin-bottom: 40px;
}
.feature-section {
  padding-top: 70px;
}

.feature-section .col-lg-4:first-child {
  order: 2;
}

}

@media (max-width: 520px) {
  .banner .popup_btn {
  text-align: center;
  margin: 0px auto !important;
  display: block;
}
.banner .popup_btn:last-child {
  display: block;
  margin-top: 30px !important;
}
}

@media (max-width: 420px) {
  .banner .popup_btn {
  width: 100%;
}
}


.features .col-lg-4 .col-md-3, .features .col-lg-4 .col-md-9 {
  width: 100%;
  max-width: 100%;
  flex: 100%;
  text-align: left;
}
.features .col-lg-4 .col-md-3 img {
  width: 100px;
  margin-bottom: 60px;
  text-align: center;
  margin: 0px auto;
    margin-bottom: 0px;
  display: block;
  margin-bottom: 30px;
}
#features {
  background: #f7f7f7;
}
.features-content {
  background: #aa0019;
  border-radius: 15px;
  padding: 15px 10px;
  padding-top: 20px;
  min-height: 294px;
}
.features-content * {
  text-align: center;
}
#solutions {
  background: #fff;
}
.dark-back {
background: #040402 !important;
}
.lite-black {
background: #191919 !important;
}
.contact_us .overlay {
  background-color: #191919 !important;
}
.faq .card {
  background: #191919;
}
body * {
  color: #fff !important;
}
.why_choose .col2 ul {
  background: #aa0019;
}
.popup_btn {
  background: #aa0019;
}
.banner .popup_btn {
  border-color: #aa0019;
}
.banner .popup_btn:hover {
  background: #aa0019 !important; 
}
.modal .model_body .col1 .btn_outer .btn_btn.btn_btn.bg-white {
  background: transparent !important;
  border-color: #fff !important;
}
.features-content {
  transition: all .4s linear;
}
.features-content:hover {
  background: #fff;
}
.features-content:hover * {
  color: #000 !important;
}
.back_office .owl-carousel .owl-nav button::before {
  content: "";
  display: block;
  height: 32px;
  width: 32px;
  border: 2px solid #fff;
  border-left: 0;
  border-bottom: 0;
  transform: rotate(-143deg);
  position: absolute;
  left: 7px;
  top: 9px;
}
.back_office .owl-carousel .owl-nav button {
  width: 30px;
  height: 50px;
  cursor: pointer;
  background: transparent !important;
  font-size: 0;
}
.back_office .owl-carousel .owl-nav .owl-next.owl-next::before {
  left: inherit;
  right: 6px;
  transform: rotate(45deg);
}
.back_office .owl-carousel .owl-dots .owl-dot span {
  width: 90%;
  border-radius: 0;
  margin: 0;
  float: left;
  background: #fff;
  height: 1px;
}
.back_office .owl-carousel .owl-dots .owl-dot {
  width: 33%;
}
.back_office .owl-carousel .owl-dots .owl-dot.active span {
  background: #aa0019;
} 
.back_office .item .row {
  align-items: center;
}
.back_office .col1 .content {
  padding-bottom: 15px;
}
.back_office .col1 .content p {
  margin-bottom: 0;
}
.back_office .item img {
  padding-right: 40px;
}
.back_office .owl-carousel .owl-dots {
  width: 50%;
}
.back_office .owl-carousel .owl-nav {
  position: absolute;
  margin: 0;
  top: 50%;
  width: 100%;
  left: 0;
}
.back_office .owl-carousel {
  position: relative;
  padding: 0 60px;
}
.back_office .owl-carousel .owl-nav button span {
  font-size: 0px !important;
}
.back_office .owl-carousel {
  margin-top: 40px;
}


@media (max-width: 992px) {
  header .navbar button.navbar-toggler {
  background: transparent !important;
  border: 0 !important;
}
}

@media (max-width: 768px) {
  .banner.banner-home {
  padding-top: 90px !important;
}
  .back_office .item img {
  padding-right: 0;
}
.back_office .owl-carousel {
  padding: 0;
}
.back_office .owl-carousel .owl-nav {
  display: none;
}
.back_office .owl-carousel .owl-dots {
  width: 100%;
  position: relative;
  top: -10px;
}
#backoffice {
  padding-bottom: 30px;
}
.why_choose {
  padding-top: 40px;
}
.features-content {
  min-height: inherit;
}
.features .col-lg-4 .col-md-3 img {
  margin-bottom: 15px;
}

}
.banner .popup_btn svg {
  fill: #fff;
  color: #fff;
}
.contact_us i {
  color: #191919 !important;
}
.back_office .col1 .content h5 {
  color: #aa0019 !important;
}
.platform .features-content p {
  margin-bottom: 0;
}
.platform .features-content h5 {
  margin-bottom: 16px;
}
.platform .features-content {
  padding: 43px 15px;
  min-height: 386px;
  position: relative;
}
.platform .features-content::after {
  content: '';
  display: block;
  width: 92%;
  height: 10px;
  background: #ddd;
  border-radius: 0 0 18px 18px;
  position: absolute;
  bottom: -10px;
}
.whychoose-list li {
  list-style: none;
  position: relative;
  /*padding-left: 40px;*/
  padding-bottom: 25px;
}
.whychoose-list li i {
  display: block;
  width: 60px;
  height: 60px;
  background: rgba(4, 4, 4, 0.6);
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  display: flex;
  font-size: 22px;
  margin-bottom: 15px;
}
.why_choose {
  background: url(../images/whychoose.avif) !important;
}
.why_choose {
  background: url(../images/whychoose.avif) no-repeat !important;
    background-attachment: scroll;
    background-size: auto;
  background-size: cover !important;
  position: relative;
}
.why_choose::before {
  background: #040402;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  opacity: 0.4;
}
.faq .card .card-header {
  background: #f7f7f7;
  border-radius: 0;
}
.faq .card .card-header button {
  color: #333 !important;
}
.faq .card .card-header button strong, .faq .card  .collapse p strong {
  color: #aa0019 !important;
  font-size: 30px;
  padding-right: 10px;
}
.faq .card .card-header button {
  color: #fff !important;
  display: flex;
  align-items: center;
  font-weight: 400;
font-size: 14px !important;
}
.faq .card .card-header {
  background: #000;
border-radius: 0;
padding: 8px 8px;
border-left: 2px solid #aa0019;
margin-bottom: 0 !important;
}
.faq .card {
  border-radius: 0 !important;
  margin-bottom: 30px;
  border: 0 !important;
}
.faq .card  .collapse p strong {
  color: #ddd !important;
}
.faq .card .collapse {
  border-left: 2px solid #ddd;
  margin-left: 0;
}
.faq .card .collapse {
  position: relative;
  margin-bottom: 0px;
}
.faq .card .collapse::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #2f2f2f;
  position: absolute;
  bottom: 0px;
}
.whychoose-list-new li strong {
  background: #aa0019;
  font-size: 18px;
  padding: 8px 25px;
  border-radius: 15px 0px 15px 0;
  display: inline-block;
}
.whychoose-list-new li .whuchooseall {
  display: inline-block;
  text-align: center;
}
.whychoose-list-new li i {
  display: block;
  font-size: 50px;
  position: relative;
  top: 7px;
}
.whychoose-list-new li {
  list-style: none;
  display: flex;padding-right: 20px;
}
.whychoose-list-new li .why-chooseaddnew span {
  background: #fff;
  color: #aa0019 !important;
  width: 30px;
  height: 30px;
  font-size: 15px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #aa0019;
  border-radius: 5px;
  margin-bottom: 7px;
}
.whychoose-list-new li .why-chooseaddnew p {
  color: #fff !important;
}
.why-chooseaddnew {
  padding-left: 25px;
  padding-top: 8px;
}
.whychoose-list-new li .why-chooseaddnew strong {
  display: block;
  background: transparent;
  padding: 0;
  color: #fff !important;
  font-size: 16px;
  margin: 2px 0;
}
.whychoose-list-new li {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.whychoose-list-new {
  display: flex;
  flex-wrap: wrap;
}
.whychoose-list-new li {
  width: 50%;
  margin-bottom: 40px;
}
.whychoose-list-new {
  padding-left: 0;
}
.socialicon .col1 i {
  width: 90px !important;
  display: block;
}
.socialicon .col1 i {
  position: relative;
}
.socialicon .col1 i::before, .fllowonus i::before {
  content: "";
  display: block;
width: 42px;
height: 42px;
position: absolute;
top: 0;
left: 0;
background: url('../images/icon.png') no-repeat;
left: 0;
right: 0;
margin: 0px auto;
top: 23%;
bottom: 0;
background-position: 7px -4px;
}
.socialicon .contact_column:nth-child(2) .col1 i::before {
background-position: -92px 3px;
}
.socialicon.socialicon2 .col1 i::before {
background-position: -236px 0px;
height: 45px; 
}
.socialicon.socialicon2 .contact_column:nth-child(2) .col1 i::before {
background-position: -44px 3px; 
}
.fllowonus i {
  width: 40px !important;
  display: inline-block;
  position: relative;
}
.fllowonus i::before {
  width: 20px;
height: 28px;
background-position: -140px -9px;
}
.fllowonus i:nth-child(3)::before {
background-position: -216px -6px;
}
.fllowonus i:nth-child(4)::before {
background-position: -192px -6px;
}
.fllowonus i:nth-child(5)::before {
background-position: -161px -9px;
width: 24px;
}
footer .icon_fixed .whatsapp_fixed {
  padding: 10px;
  display: flex;
}


@media (max-width: 768px) {
  .platform .features-content {
  min-height: inherit;
  margin-bottom: 25px;
}
.whychoose-list-new li {
  width: 100%;
}
.banner.banner-home .col-lg-6.col2 {
  display: none;
}
}

.dnonemb {
  display: none !important;
}
.callbtn i img {
  width: 18px;
}

#myModal {
  z-index: 999999;
}
.zsiq_floatmain.zsiq_theme1.siq_bR, .zsiq_custommain, .zsiq_floatmain {
  z-index: 9999 !important;
}
.discuss-form .btn_outer .btn_btn {
  font-size: 14px;
  padding: 8px 5px !important;
}
.zsiq_floatmain.zsiq_theme1.siq_bR .zsiq_cnt * {
  color: #000 !important;
}


@media (max-width: 767px) {
  .menumb {
  display: block;
  width: 32px;
  height: 2px;
  background: #fff;
  margin-bottom: 8px;
}
span.__cf_email__ {
    word-break: break-all;
}
#id_header {
  padding: 3px 0;
}
.dnonemb {
  display: block !important;
}
.discuss-form .model_header h3 {
  font-size: 20px;
}
.discuss-form .model_header h6 {
  font-size: 14px;
}
.discuss-form .btn_outer .btn_btn {
  margin-top: 0 !important;
}
.banner .col1 .welcome_content {
  padding-top: 0 !important;
}
.banner {
  padding-top: 100px;
}
.discuss-form.modal .model_body .col1 .form_input {
  height: 32px;
}
.discuss-form.modal .model_body .col1 textarea.form_input {
  height: inherit;
}
.discuss-form.modal .model_body .col1 .form_label {
  font-size: 13px;
}
.discuss-form.modal .modal .model_body .col1 {
  margin-bottom: 5px;
}
.modal .model_body {
  padding: 20px 25px;
}
.modal .model_body .col1 {
  margin-bottom: 5px;
}
header .navbar .collapse ul li a:hover {
  color: #fff !important;
}
.sticky-top .navbar ul li a {
  color: #fff !important;
  font-size: 16px !important;
  letter-spacing: 1px;
}
.sticky-top .navbar  ul li button {
  background: #ffc665 !important;
  color: #000 !important;
}
#id_header.sticky-top, #id_header {
  background: #000 !important;
}
.discuss-form {
  padding-top: 60px;
}
#collapsibleNavbar {
  padding-bottom: 16px;
}
.sticky-top .navbar .collapse ul li button {
  margin-top: 8px;
}
.banner.banner-home {
  padding-top: 115px !important;
}
.discuss-form .model_header h3 {
  font-size: 18px;padding-top: 5px !important;padding-right: 18px;
}
.discuss-form .model_header .close {
  top: -4px !important;
}
.discuss-form, .discuss-form * {
  transition: none !important;
  opacity: 1 !important;
}
.discuss-form .model_header {
  padding: 0 5px;
}
.discuss-form .model_header .close {
  top: 0px !important;
  right: 5px !important;
}
.discuss-form {
  padding-top: 80px;
}
.discuss-form .model_body {
  padding-top: 10px !important;
}

}

@media (max-width: 400px) {
  .img-video {
    width: 100%;
  }
}
